<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421633056713-am3g98kav9hmja2torsb55bfku955o5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421633056713-am3g98kav9hmja2torsb55bfku955o5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCBN35UgmwAstNdG-rajw8flH9NMZmtIh0</string>
	<key>GCM_SENDER_ID</key>
	<string>421633056713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libraryMangement</string>
	<key>PROJECT_ID</key>
	<string>library-management-44bd7</string>
	<key>STORAGE_BUCKET</key>
	<string>library-management-44bd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421633056713:ios:4e63862b1d65430aa61218</string>
</dict>
</plist>